* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.carousel-container{
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    overflow: hidden;
}

.header{
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    margin-top: 1em;
}

.autoplay-container{
    display: flex;
    margin-bottom: 2rem;
}

input, label{
    margin-right: 0.5em;
    cursor: pointer;
}

.action-container{
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    height: 250px;
    width: 100%;
    position: relative;
}

.content-container{
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease;
}

.control-button{
    font-size: 3rem;
    border: 0px;
    background-color: rgba(57, 54, 54, 0.851);
    color: rgb(226, 220, 220);
    padding: 0px 0.2em;
    cursor: pointer;
    position: absolute;
    top: 100px;
}

.control-button:hover{
    background-color: rgba(90, 85, 85, 0.678);
    color: rgb(71, 70, 70);
}

.control-button:focus{
    outline: none;
}

#leftButton{
    z-index: 20;
    left: 0px;
}

#rightButton{
    right: 0px;
}

#dotContainer{
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
}

#content{
    font-size: 3rem;
    font-family: cursive, sans-serif;
}

.dot{
    width: 0.6rem;
    height: 0.6rem;
    background-color: rgba(128, 128, 128, 0.711);
    border-radius: 50%;
    border: 0px;
    margin:0.2rem;
    cursor: pointer;
}

.dot:hover{
    background-color: rgb(84, 83, 83);
}

.bg-grey{
    background-color: rgb(42, 41, 41);
}